{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/style-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>All Photocards</h1>
  <img src="{% static 'images/string.svg' %}" alt="A ball of string" />
  <img src="{% static 'images/mouse.svg' %}" alt="A mouse" />
  <img src="{% static 'images/post.svg' %}" alt="A scratching post" />
  <img src="{% static 'images/fish.svg' %}" alt="A fishy toy" />
</section>

<section class="card-container">
  {% for style in style_list %}
  <div class="card" style="border-color: {{ style.color }}">
    <div class="card-bg" style="background-color: {{ style.color }}"></div>
    <a href="{% url 'styles_detail' style.id %}">
      <div class="card-content">
        <h2>A {{ style.color }} {{ style.clothing }}</h2>
        <p></p>
      </div>
    </a>
  </div>
  {% endfor %}
</section>

{% endblock %}