{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="page-header">
  <h1>Delete These Clothes?</h1>
  <img src="{% static 'images/finger_heart.jpg' %}" alt="A finger heart"/>
</div>
<h2>Are you sure you want to delete the {{ object.clothing }}?</h2>

<form action="" method="POST" class="form">
  {% csrf_token %}
  <a 
    href="{% url 'styles_detail' style.id %}" 
    class="btn secondary"
  >
    Cancel
  </a>
  <button type="submit" class="btn danger">Yes - Delete!</button>
</form>

{% endblock %}