{% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/style-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>All Available Fashion</h1>
  <img src="{% static 'images/bts_logo.png' %}" alt="BTS logo" />
  <img src="{% static 'images/mamamoo_logo.png' %}" alt="Mamamoo logo" />
  <img src="{% static 'images/shinee_logo.png' %}" alt="SHINee logo" />
  <img src="{% static 'images/stray_kids_logo.png' %}" alt="Stray Kids logo" />
  <img src="{% static 'images/blackpink.png' %}" alt="Blackpink logo" />
</section>

<section class="card-container">
  {% for style in style_list %}
  <div class="card" style="border-color: {{ style.color }}">
    <div class="card-bg" style="background-color: {{ style.color }}"></div>
    <a href="{% url 'styles_detail' style.id %}">
      <div class="card-content">
        <h2>A {{ style.color }} {{ style.clothing }}</h2>
        <p></p>
      </div>
    </a>
  </div>
  {% endfor %}
</section>

{% endblock %}