{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/photocard-detail.css' %}"
/>
<script defer src="{% static 'js/photocard-detail.js' %}"></script>
{% endblock %}

{% block content %}

<section class="photocard-container">
  <div class="photocard-img">
  {% if photocard.photo.url %}
    <img 
    src="{{photocard.photo.url}}"
    alt="A photocard of {{photocard.name}}"
    class="usr-img">
  {% else %}
    <img 
      src="{% static 'images/finger_heart.jpg' %}" 
      alt="a finger heart"
      width="100%"
    >
  {% endif %}
  </div>
  <div class="photocard-details">
    <h1>{{ photocard.name }}</h1>
      <h2>A member of {{ photocard.band }}, this photo is from the {{ photocard.era }} era</h2>
    <p>{{ photocard.description }}</p>
      <div class="photocard-actions">
        <a href="{% url 'photocards_update' photocard.id %}" class="btn warn">Edit</a>
        <a href="{% url 'photocards_delete' photocard.id %}" class="btn danger">Delete</a>
      </div>
      <h3>Change {{ photocard.name }}'s photo</h3>
      <p id="file-name"></p>
      <form 
        action="{% url 'add_photo' photocard.id %}"
        enctype="multipart/form-data"
        method="POST"
      >
        {% csrf_token %}
        <label class="btn secondary">
          Choose photo
          <input type="file" name="photo-file" id="file-input">
        </label>
        <button type="submit" class="btn submit">Upload Photo</button>
    </form>
  </div>
</section>
<div class="solos-toy-container">
  <section class="solos">
    <div class="subsection-title">
      <h2>Solos</h2>
      <img 
        src="{% static 'images/microphone.png' %}" 
        alt="An microphone"
      />
    </div>
    <h3>Add a Solo</h3>
    <form
      action="{% url 'add_solo' photocard.id %}"
      method="post" 
      class="subsection-content"
    >
      {% if photocard.solo_for_today %}
        <p class="has-solos-today">{{photocard.name}} has been plenty busy on solos</p>
      {% else %}
        <p class="no-solos-today">You should add your favorite of {{photocard.name}}'s solos</p>
      {% endif %}
      {% csrf_token %}
      {{ solo_form.as_p }}
      <button type="submit" class="btn submit">Add Solo</button>
    </form>
    <h3>Favorite Solos</h3>
    {% if photocard.solo_set.all.count %}
    <table>
      <thead>
        <tr><th>Release Date</th><th>Title</th><th>Genre</th></tr>
      </thead>
      <tbody>
        {% for solo in photocard.solo_set.all %}
          <tr>
            <td>{{solo.date}}</td>
            <td>{{solo.title}}</td>
            <td>{{solo.get_genre_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p class="subsection-content">No favorite solos from {{photocard.name}}, we get it, it's hard to pick</p>
    {% endif %}
  </section>
    <section class="toys">
    <div class="subsection-title">
      <h2>Fashion</h2>
      <img src="{% static 'images/string.svg' %}" alt="A ball of string" />
      <img src="{% static 'images/mouse.svg' %}" alt="A mouse" />
      <img src="{% static 'images/fish.svg' %}" alt="A fishy toy" />
    </div>
    <h3>{{ photocard.name }}'s Fashion</h3>
    <div class="subsection-content">
      {% if photocard.styles.count %}
        {% for style in photocard.styles.all %}
          <div class="toy-container">
            <div 
              class="color-block"
              style="background-color: {{ style.color }}"
            ></div>
            <a href="{% url 'styles_detail' style.id %}">
              <p>A {{ style.color }} {{ style.clothing }}</p>
            </a>
          </div>
        {% endfor %}
      {% else %}
        <p class="no-toys">{{photocard.name}} doesn't have any signature styles</p>
      {% endif %}
    </div>
    <h3>Available Clothes</h3>
    <div class="subsection-content">
      {% if styles.count %}
      {% for style in styles.all %}
          <div class="toy-container">
            <div 
              class="color-block"
              style="background-color: {{ style.color }}"
            ></div>
            <a href="{% url 'styles_detail' style.id %}">
              <p>{{ style.color }} {{ style.clothing }}</p>
            </a>
            <form action="{% url 'assoc_style' photocard.id style.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn submit">Add</button>
            </form>
          </div>
        {% endfor %}
      {% else %}
        <p class="all-toys">
          {{photocard.name}} already has all the available clothes
        </p>
      {% endif %}
    </div>
  </section>
</div>

{% endblock %}