{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/photocard-index.css' %}"/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Photocard List</h1>
  <img src="{% static 'images/bts_logo.png' %}" alt="BTS" />
  <img src="{% static 'images/mamamoo_logo.png' %}" alt="Mamamoo" />
  <img src="{% static 'images/shinee_logo.png' %}" alt="Shinee" />
  <img src="{% static 'images/stray_kids_logo.png' %}" alt="Stray Kids" />
</section>

<section class="card-container">
  {% for photocard in photocards %}
    <div class="card">
      <a href="{% url 'photocards_detail' photocard.id %}">
        <div class="card-content">
          <div class="card-img-container">
            <img 
              src="{% static 'images/finger_heart.jpg' %}" 
              alt="A finger heart"
              width="100%"
            >
        </div>
        <h2 class="card-title">{{ photocard.name }}</h2>
          <p>A member of {{ photocard.band }}, this photo is from the {{ photocard.era }} era</p>
        <p><small>{{ photocard.description }}</small></p>
      </div>
    </div>
  {% endfor %}
</section>

{% endblock %}